.top-banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 500;
  padding: 10px 0;
  position: relative;
}
.top-banner p a {
  color: rgb(255, 255, 255);
  line-height: 100%;
  font-weight: 500;
  text-decoration: underline;
}
.top-banner p a:hover {
  text-decoration: none;
  color: blue;
}
.top-banner button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 100px;
  background: none;
  border: none;
  cursor: pointer;
}

.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding: 24px 100px;
}
.main-header h1 a {
  font-family: "Integral-CF-bold";
  color: rgb(0, 0, 0);
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0%;
}
.main-header .navigation {
  padding-left: 100px;
}
.main-header .navigation ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.main-header .navigation ul li a {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 500;
  font-family: "Satoshi-Variable";
  line-height: 100%;
}
.main-header .navigation ul li a:hover {
  text-decoration: underline;
}
.main-header .search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 10px;
}
.main-header .search img {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}
.main-header .search input {
  width: 578px;
  border-radius: 62px;
  border: none;
  background: rgb(240, 240, 240);
  padding: 12px 52px;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 500;
}
.main-header .search button {
  background: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
}
.main-header .nav-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

@font-face {
  font-family: "Satoshi-Variable";
  src: url("../assets/font/Satoshi_Complete/Satoshi_Complete/Fonts/TTF/Satoshi-Variable.ttf");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Integral-CF-bold";
  src: url("../assets/font/Integral-CF/Demo_Fonts/Fontspring-DEMO-integralcf-bold.otf");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}