@font-face {
  font-family: "Satoshi-Variable";
  src: url("../assets/font/Satoshi_Complete/Satoshi_Complete/Fonts/TTF/Satoshi-Variable.ttf");
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Integral-CF-bold";
  src: url("../assets/font/Integral-CF/Demo_Fonts/Fontspring-DEMO-integralcf-bold.otf");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
