.top-banner {
  @include flex-style(row, center, center);
  background-color: $bg-color;
  @include font-style($secondary-text-color, 14px, 500);
  padding: 10px 0;
  position: relative;
  p {
    a {
      color: rgba(255, 255, 255, 1);
      line-height: 100%;
      font-weight: 500;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
        color: blue;
      }
    }
  }
  button {
    @include flex-style(row, center, center);
    position: absolute;
    right: 100px;
    @include button-parameters(none, none);
    cursor: pointer;
  }
}
.main-header {
  @include flex-style(row, space-between, center);
  gap: 40px;
  padding: 24px 100px;
  h1 a {
    font-family: "Integral-CF-bold";
    @include font-style($primary-text-color, 32px, 700);
    letter-spacing: 0%;
  }
  .navigation {
    padding-left: 100px;
    ul {
      @include flex-style(row, center, center);
      gap: 24px;
      li a {
        @include font-style($primary-text-color, 16px, 500);
        font-family: "Satoshi-Variable";
        line-height: 100%;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .search {
    @include flex-style(row, center, center);
    position: relative;
    gap: 10px;
    img {
      position: absolute;
      left: 16px;
      top: 50%;
      transform: translateY(-50%);
    }
    input {
      width: 578px;
      border-radius: 62px;
      border: none;
      background: rgba(240, 240, 240, 1);
      padding: 12px 52px;
      @include font-style($primary-text-color, 16px, 500);
    }
    button {
      @include button-parameters($bg-color, none);
      cursor: pointer;
    }
  }

  .nav-icons {
    @include flex-style(row, center, center);
    gap: 14px;
  }
}
