.product-section {
  @include flex-style(column, center, flex-start);
  padding: 72px 100px;
  .title {
    @include font-style("Integral-CF-bold", $primary-text-color, 48px, 700);
    margin: 0 auto;
    padding-bottom: 55px;
  }
  .new-arrivals,
  .top-sellings {
    width: 100%;
    .product-list {
      @include flex-style(row, space-between, center);
      flex-wrap: wrap;
      gap: $product-list-gap;
      width: 100%;
      .product-card {
        @include flex-style(column, center, center);
        cursor: pointer;
        .product-image {
          background-color: rgba(240, 238, 237, 1);
          border-radius: 20px;
          margin-bottom: 16px;
          &:hover {
            transform-origin: 0% 0%;
            transform: rotate(-3deg);
            transition: all 0.3s ease-in-out;
          }
        }
        .product-details {
          @include flex-style(column, center, flex-start);
          gap: $product-details-gap;
          width: 100%;
          .product-name {
            @include font-style(
              "Satoshi-Variable",
              $primary-text-color,
              20px,
              700
            );
          }
          .product-rating {
            .stars {
              color: yellow;
            }
            .rating-value {
              @include font-style(
                "Satoshi-Variable",
                $primary-text-color,
                14px,
                400
              );
              span {
                color: rgba(0, 0, 0, 0.6);
              }
            }
          }
          .product-price {
            @include font-style(
              "Satoshi-Variable",
              $primary-text-color,
              24px,
              700
            );
          }
        }
      }
    }
  }
  .view-all {
    margin: 0 auto;
    @include button-parameters(none, 1px solid rgba(0, 0, 0, 0.1));
    margin-top: 36px;
  }
}
