$primary-text-color: rgba(0, 0, 0, 1);
$secondary-text-color: rgba(255, 255, 255, 1);
$third-text-color: rgba(0, 0, 0, 0.6);
$bg-color: rgba(0, 0, 0, 1);

@mixin font-style($font-family,$color, $size, $weight) {
  font-family: $font-family;
  color: $color;
  font-size: $size;
  font-weight: $weight;
}

@mixin flex-style($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
 
@mixin button-parameters($background, $border) {
  background: $background;
  border: $border;
  cursor: pointer;
}
